{% extends "base.html" %}

{% block content %}
    <h1>Blog Sauce</h1>
    <form method='post'>
        <label>
            Title
            <input type="text" name='blog' />
        </label>
        <label >
            Body
            <input type="text" name='body' />
        </label>

        <input type="submit" value='Add blog' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
                {% set x = 0%}
            {% for body in bodies %}
            <li>
                <h2>{{body[x]}}</h2>
            
            </li>
                {%set x += 1%}
            {% endfor %}
            
        </ul>

    {% endif %}


{% endblock %}