{% extends "base.html" %}
{% block content %}

        <h1>BLOG-A-LOG-A-DING-DONG</h1>

        <a href="/newpost">newpost
        </a>
        <a href="/blog">blog
        </a>

        {% if all_posts|length == 0 %}

        <p>No Posts Yet</p>

        {% else %}
        <div>
            {% for post in all_posts %}
                <a href="/blog?e={{post.id}}"><h2>{{post.title}}</h2></a>
                <p>{{post.body}}</p>
        </div>      
            {% endfor %}
        {% endif %}

{% endblock content %}