<!DOCTYPE html>
<html>
    <head>
        <title>git-it-run</title>
    </head>
    <body>
        <h1>git-it-run</h1>
        <form method='post'>
            <label>
                <input type="text" name='title'>
            </label>
            <input type="submit" value='Add Title'>
        </form>

        <hr>

        {% if titles|length == 0 %}
        <p>No titles yet</p>
        {% else %}

            <ul>
                {% for title in titles %}
                <li>{{title}}</li>
                {% endfor %}
            </ul>

        {% endif %}


    </body>
</html>